.navbar-default {
    background-color: #E7E7E7;
    border-color: #E7E7E7;

}

nav .navbar-text {
	margin: 0 auto;
	font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.axis line {
  	fill: none;
  	stroke: #bec2c4;
  	stroke-width: 1px;
}

.container{
	margin: 0 auto;
}

.checkbox {
	display: inline-block;
}

form {
	margin-top:100px;
	
}



form label {
	padding-right: 10px;
}

text {
	font-size: 12px; 
}

g {
	overflow: visible;
}

#chartholder {
	
}

#svg-chart {
	overflow: visible;
}

.labeltext {

	font-size: 16px;
}

.toolTip {
	position: absolute;
	display: none;
	min-width: 80px;
	height: auto;
	background: none repeat scroll 0 0 #ffffff;
	border: 1px solid #6F257F;
	padding: 14px;
	text-align: center;
}







